body
{
    margin-left: 20%;
    margin-right: 20%;
}

h1
{
    font-size: x-large;
}

p
{
    text-align: justify;
}

/*
img
{
    margin-left: -33.34%
}
*/

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

h1, h2, h3, h4, h5, h6
{
    font-family: sans-serif;
}

h1
{
    color: rgb(154, 29, 33);
    font-size: xx-large;
}

h2
{
    color: rgb(30, 71, 101)
}
